h1, h2, h3, h4, h5, h6 {
  font-family: 'Poller One', cursive;
  margin: 20px 0;
}

.container {
  padding: 30px;
}

.cta {
  background-image: url("/assets/space.png");
  color: #FFF;
}

span {
  font-size: 0.8em;
  color: #e5e5e5;
}
