/* You can add global styles to this file, and also import other style files */
.container {
  padding: 30px;
}

h2 {
  margin: 30px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poller One', cursive;
}

/*body {
  background-image: url("https://cdn.pixabay.com/photo/2016/01/27/15/25/space-1164579_960_720.png");
  position: relative;
}*/
