<div class="container">

  <div class="text-center">
    <h2>SW All Times Movies</h2>

    <div class="form-inline my-2 my-lg-0">
      <label for="film"></label>
      <input class="form-control mr-sm-2" [(ngModel)]="film" placeholder="Search Film" type="text">
    </div>
  </div>

</div>

<div class="container">
  <div class="row" *ngIf="films">
    <div class="col-6 col-lg-4" *ngFor="let film of films | filmSearcher : 'title' : film">
      <h3>{{film.title}} <span>({{film.release_date | date: 'yyyy'}})</span></h3>
      <p>{{film.opening_crawl}}</p>
      <p><strong>Director:</strong> {{film.director}}</p>
      <p><a [routerLink]="['../','film', film]" class="btn btn-secondary">View details &raquo;</a></p>
    </div>
  </div>
</div>
