<div class="container">

  <div class="text-center">
    <h2>SW all times Movies</h2>

    <div class="">
      <label for="film"></label>
      <input class="form-control" [(ngModel)]="film" placeholder="Search your favourite one.." type="text">
    </div>
  </div>

</div>

<div class="container">
  <div class="row" *ngIf="films">
    <div class="col-12 col-lg-3" *ngFor="let film of films | filmSearcher : 'title' : film">
      <h4>{{film.title}} <span>({{film.release_date | date: 'yyyy'}})</span></h4>
      <p><strong>Director:</strong> {{film.director}}</p>
      <p><strong>Producer:</strong> {{film.producer}}</p>
      <p><a [routerLink]="['../','film', film.url[film.url.length-2]]" class="btn cta btn-secondary">View details &raquo;</a></p>
    </div>
  </div>
</div>
