  <nav class="navbar-inverse bg-inverse navbar navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <img class="navbar-brand logo" href="/home" src="/assets/sw-logo.png" alt="Star Wars">
    <!-- <a class="navbar-brand" href="/home">Star Wars</a> -->
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" [routerLink]="['/home']">Home</a>
        <a class="nav-item nav-link" [routerLink]="['/film-list']">Movies</a>
        <a class="nav-item nav-link" [routerLink]="['/characters']">Characters</a>
      </div>
    </div>
  </nav>
