<div class="container">
  <h2 class="text-center">SW Main Characters</h2>

  <div class="card-columns" *ngIf="characters">

    <div class="card text-center" *ngFor="let character of characters">
      <!-- <img class="card-img-top img-fluid" src="..." alt="image"> -->
      <div class="card-block">
        <h4 class="card-title">{{character.name}}</h4>
        <p class="card-text"><small class="text-muted">First Appearance: {{character.birth_year}}</small></p>
        <p><a [routerLink]="['../','character', character.url[character.url.length-2]]" class="btn btn-secondary">View details &raquo;</a></p>
      </div>
    </div>

  </div>
</div>
