<div class="container">
  <!-- <section *ngIf="people">
    <div *ngFor="let character of people">
      {{character.name}}
    </div>
  </section>
</div> -->

<!-- <div class="container" *ngIf="people">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
        <img class="d-block img-fluid" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6c/Star_Wars_Logo.svg/1200px-Star_Wars_Logo.svg.png" alt="First slide">
        <div class="carousel-caption d-none d-md-block" *ngFor="let character of people">
          <h3>{{character.name}}</h3>
        </div>

      </div>
    </div>

    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div> -->

<div class="card-columns" *ngIf="people">

  <div class="card" *ngFor="let character of people">
    <!-- <img class="card-img-top img-fluid" src="..." alt="image"> -->
    <div class="card-block">
      <h4 class="card-title">{{character.name}}</h4>
      <p class="card-text"><strong>Gender:</strong> <i>{{character.gender}}</i></p>
      <p class="card-text"><strong>Height:</strong> <i>{{character.height}} cm</i></p>
      <p class="card-text"><strong>Mass:</strong> <i>{{character.mass}} kg</i></p>
      <p class="card-text"><small class="text-muted">First Appearance: {{character.birth_year}}</small></p>
    </div>
  </div>

</div>
</div>
